@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

*{
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    padding: 0px;
}

#head{
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}