@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

#survey-form{
    display: block;
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

#head {
    line-height: 1;
    text-align: center;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border: none;
}

@media (min-width: 576px) {
    #survey-form {
      max-width: 540px;
    }
}

@media (min-width: 768px) {
    #survey-form {
      max-width: 720px;
    }
  }
  