@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.head {
    margin: 10px;
}

h1 {
    line-height: 1rem;
}

label {
    display: flex;
    align-items: center;
}

#survey-form {
    width: 50vw;
    margin-left: 25vw;
}

input, button, select, textarea {
  margin: 0;
  width: 100%;
}

.except {
    margin: auto;
    width: auto;
}

#submit {
    display: block;
    width: 100%;
}